
:root{
    font-size: 100%;
    --color-background: #17141d;
    --color-text-color: #ffffff;
    --color-secundary: #fa8c52;
    --color-boxshadow: #000;
    font-weight: bolder;
}

body{
    background: var(--color-background);
    color: var(--color-text-color);
    font-family: 'Courier Prime', monospace;
    font-size: 1.5em;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

html, body, #root{
    overflow-x: hidden;
    background: var(--color-background);
    min-height: 100%;
}

.wrapper {
    height: 100%;
    min-height: -webkit-fill-available;
    margin-bottom: 2em;
}

#nav-bar{
    margin: 1em 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    font-size: 70%;
}

.container{
    margin: 1em 8%; 
}

#landing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 3em;
    align-self: center;
}

#landing img{
    width: 80%;
    height: auto;
    border-radius: 50%;
    max-width: 15em;
    grid-column: 1/2;
    min-width: 7em;
    filter: grayscale(20%);
}

#sobremim h2, #nav-lateral h2{
    background: var(--color-secundary);
    border-radius: 1rem 0.3rem 1rem;
    font-size: 1em;
    padding: 0.1em 0.3em 0 0.5em ;
}

#sobremim p{
    margin-top: 0.3em;
    font-weight: normal;
    justify-content: left;
    text-align: left;
}

nav#nav-lateral li{
    margin: 0.6em 0;
    list-style: none;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.1em;
    transition: background 0.9s;
}

section#tecnologias{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}

section#tecnologias p{
    font-size: 0.7em;
    font-weight: normal;
    text-align: center
}

section #icons-p{
    margin-top: 1.6em;
}

section#tecnologias  .icons{
    font-size: 1.8em;
    margin-left: 0.2em;

}

/* scrollbar*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-secundary);
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#786b94, 20px,#17141d 0,#17141d);
}

/*Css para os cards */
.card-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 0.7em;
}

.card{
    display: grid;
    grid-template-areas:
    " title title title  " 
    " img  texto texto "
    " img  texto texto "
    " btn  texto texto ";
    column-gap: 1em;
    width: auto;
    min-width: 250px;
    padding: 1.5em;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem  0 3rem var(--color-boxshadow); /* coloquei negativo para ficar com o efeito da sabro a esqueda*/
}

.card h3{
    grid-area: title;
    margin-left: 0.3em;
    white-space: nowrap;
}

.card img{
    border-radius: 9px;
    height: auto;
    width: 100%;
    grid-area: img;
}

.card ul{
    grid-area: btn;
    display: flex;
    justify-content: space-between;
    grid-area: btn;
    margin-top: 0.5em;
}

.card p{
    grid-area: texto;
    font-weight: normal;
    padding-right: 1em;
}

.card ul li{
    padding: 0.1em 0.0em;
    text-align: center;
    border: 1px solid var(--color-text-color);
    width: 100%;
    border-radius: 2px;
    font-weight: normal;
    font-size: 1em;
}

.card ul li:first-child {
 margin-right: 0.3em;
}

.card li:hover{
    border: 2.5px solid var(--color-secundary);

}

.gradient_text:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* Css para animação das cartas*/
.card:hover{
    transform: translateY(-1rem);
    transition: 0.8s;
}

/* Fim css card*/
.brand{
    font-size: 1.4em;
    margin-left: 0.5em;
}

a{
    text-decoration: none;
    color: var(--color-text-color);
}

ul li{
    list-style: none;
}

@media (max-width: 768px) {

    body{
        font-size: 90%;
    }

    #landing{
        display: flex;
        flex-direction: column;
    }

    .container_img{
        display: grid;
        place-items: center;
    }

    .card-list{
        display: flex;
        flex-direction: column;
    }

    #tecnologias h2{
        white-space: nowrap;
        font-size: 1.2em;
    }

    #tecnologias h2{
        font-size: 1em;
    }

    .brand{
        font-size: 1.3em;
    }

    .card{
        display: grid;
        grid-template-areas:
        " title title title title " 
        " img img img img "
        " img img img img "
        " texto texto texto texto"
        " btn btn btn btn";
        padding: 1em;
    }

    .card img{
        width: 100%;
    }

    .card p{
        padding: 1em 0;
    }  
    
    .wrapper {
        height: 100%;
    }
}

@media only screen and (min-device-width: 480px) 
                   and (max-device-width: 640px) 
                   and (orientation: landscape) {

    .card-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        margin: 0.7em;
    }

    
    .card{
        grid-template-areas:
    " title title title  " 
    " img  texto texto "
    " img  texto texto "
    " btn  texto texto ";
    }   
}

