
:root{
    font-size: 100%;
    --color-background: #17141d;
    --color-text-color: #ffffff;
    --color-secundary: #fa8c52;
    --color-boxshadow: #000;
    --color-background-footer: #100e17;
    font-weight: bolder;
}

*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: var(--color-background);
    color: var(--color-text-color);
    font-family: 'Courier Prime', monospace;
    font-size: 1.3rem;
}

html, body, #root{
    overflow-x: hidden;
    background: var(--color-background);
    min-height: 100%;
}

/* Elmentos no topo da página*/

.wrapper {
    height: 100%;
    min-height: -webkit-fill-available;
    padding-bottom: 1em;
    background-image: url(./imagens/a5d79c8.webp) ;
    background-color:  #100e17;
    padding-top: 1rem;
}

#nav-bar{
    margin: 1rem 7%;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    font-size: 70%;
}

.container{
    margin: 1em 7%; 
}

#landing{
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    justify-content: center;
    gap: 3rem;
    align-self: center;
}

#landing img{
    width: 100%;
    height: auto;
    border-radius: 60%;
    max-width: 15rem;
    grid-column: 1/2;
    min-width: 7em;
    filter: grayscale(20%);
}

#sobremim h2, #nav-lateral h2{
    background: var(--color-secundary);
    border-radius: 1rem 0.3rem 1rem;
    font-size: 1.5rem;
    padding: 0.1rem 0.3rem 0 0.5rem ;
}

#sobremim p{
    margin: 0.7rem;
    font-weight: normal;
    justify-content: left;
    text-align: left;
    font-size: 1.2rem;
}

nav#nav-lateral li{
    margin: 0.6em 0;
    list-style: none;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.2rem;
}

section#tecnologias{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}

section#tecnologias p{
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center
}

section #icons-p{
    margin-top: 1.6rem;
}

section#tecnologias  .icons{
    font-size: 2rem;
    margin-left: 0.9rem;
}

/******** scrollbar ********/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-secundary);
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#786b94, 20px,#17141d 0,#17141d);
}

/***** Projetos *****/
.card-list{
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 3%;
}

.card{
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem  0 3rem var(--color-boxshadow);
    display: grid;
    grid-template-columns: 15% 15% repeat(3, 1fr);
    grid-template-rows: 15% repeat(3, 2fr) 13%;
    padding: 1rem;
    row-gap: 1rem;
    margin-top: 1rem;
}

.card h3{
    margin-left: 0.3rem;
    white-space: nowrap;
    grid-row: 1/2;
    grid-column: 1/6;
    margin-bottom: 0rem;
}

.card img{
    border-radius: 9px;
    height: auto;
    width: 100%;
    grid-row: 2/5;
    grid-column: 1/3;
    margin-bottom: 1.5rem;
}

.card p{
    grid-row: 2/6;
    grid-column: 3/6;
    margin-left: 0.9rem;
    font-weight: normal;
}

.card span {
    font-weight: 300;
    display : block;
    font-style: italic;
    margin-bottom: 0.5rem;
}
.card ul{
    display: flex;
    justify-content: space-between;
    grid-row: 5/6;
    grid-column: 1/3;
}


.card ul li{
    border: 1px solid var(--color-text-color);
    border-radius: 3px;
    width: 100%;
    display: grid;
    place-items: center;
}

.card ul li a {
    display: block;
    font-size: 1rem;
    font-weight: normal;
}

.card ul li:first-child {
 margin-right: 0.3rem;
}

.card li:hover{
    border: 3px solid var(--color-secundary);

}

.gradient_text:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

/* Css para animação das cartas*/
.card:hover{
    transform: translateY(-1rem);
    transition: 0.8s;
}

/* Fim css card*/


.brand{
    font-size: 1.4rem;
    margin-left: 0.5rem;
}

a{
    text-decoration: none;
    color: var(--color-text-color);
    font-weight: normal;
}

ul li{
    list-style: none;
}

p, h2 {
    margin: 0px;
    padding: 0px;
}

footer{
    background: var(--color-background-footer);
    display: grid;
    place-items: center;
    padding: 3rem;
    font-size: 1rem;
    margin-top: 4rem;
}

footer p{
}

footer a{
    color: #6675e0;
    border-bottom: 1px dotted rgba(255,255,255,.25);
}


@media (max-width: 950px) {

    body{
        font-size: 90%;
    }

    #landing{
        display: flex;
        flex-direction: column;
    }

    .container_img{
        display: grid;
        place-items: center;
    }

    #tecnologias h2{
        white-space: nowrap;
        font-size: 1.2em;
    }

    #tecnologias h2{
        font-size: 1em;
    }

    .brand{
        font-size: 1.3em;
    }

    .wrapper {
        height: 100%;
    }

    .card-list{
        max-width: 1400px;
        display: grid;
        grid-template-columns: 1fr;
        margin: 3% 3%;
        grid-gap: 2rem;
    }

    .card ul li a{
        font-size: 0.7rem;
    }

    .card p {
        font-size: 1rem;
    }
}



